.calendar-wrap {
  max-width: 1280px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.dp__calendar_header_item {
  font-weight: 600;
}
.dp__instance_calendar {
  padding: 10px;
}
.dp__calendar_header_item {
  width: 50px;
  font-weight: 600;
}
.dp__cell_inner {
  height: 50px;
  width: 50px;
}
.right-col{
  margin: 10px;
  text-align: left;
}
.right-col .right-col-row .totalMoney {
  font-weight:600;
  font-size: 1.5rem;
  text-align: right;
  color: #0274be;
}
.counter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.counter-wrapper label {
  font-weight:600;
  margin-top: 20px;
  flex-grow: 1;
  font-size: 1.2rem;
}
.counter-wrapper span {
  color:#666;
  margin-right: 10px;
}
.counter {
  height: 30px;
  display: flex;
  align-items: center;
}
.counter .quantityInput {
  border: none;
  text-align: center;
  width: 50px;
  font-weight: 300;
  background: transparent;
  margin: 0px 5px;
  font-size: 1.2rem;
  color: #333;
  padding: 0px;
}
.counter .btn {
	border: 1px solid #E1E8EE;
  width: 35px;
  height: 35px;
  background-color: #E1E8EE;
  border-radius: 6px;
  cursor: pointer;
  padding: 0px;
  color: #000;
}
.counter .btn:disabled {
  color: #a0a0a0;
}

.right-col-row{
  margin-bottom: 20px;
}
.optTIME input {
  display: none;
}
.optTIME label {
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
.optTIME span {
  display: block;
  padding: 8px 15px;
  border: 1px solid #666;
  border-radius: 5px;
  position: relative;
  transition: all 0.25s linear;
}
.optTIME .blue input:disabled + span {
  color: #ddd;
  cursor: not-allowed;
  border: 1px solid #ddd;
}
.optTIME .blue input:checked + span {
  color: #fff;
  background-color: #0274be;
  border-color: #0274be;
}
.optTIME .blue input:checked + span:before {
  background-color: #0274be;
}
@media (max-width: 782px) {
  .calendar-wrap {
    padding: 0px;
    justify-content: center;
  }
  .right-col {
    margin: 10px 0px;
  }
  .dp__cell_inner {
    height: 40px;
    width: 40px;
  }
  .dp__calendar_header_item {
    width: 40px;
  }
  .counter .quantityInput{
    width: 30px;
  }
  .counter-wrapper label {
    font-size: 1rem;
  }
  .counter-wrapper span {
    font-size: 0.8rem;
  }
}
